# API specific environment values
NODE_ENV=development
PORT=3001

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/constructos?schema=public"

JWT_SECRET="constructos_super_secure_jwt_signing_secret_key_2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="constructos_super_secure_jwt_refresh_signing_secret_key_2026"
JWT_REFRESH_EXPIRES_IN="7d"
